<h1 class="title has-text-warning-dark">Products hosted on Stripe</h1>

<ul>
  <% @products.each do |product| %>
    <li>Name: <%= product.name   %></li>
    <li>Description: <%= product.description %></li>
    <li>Default price: <%= product.default_price %></li>
    <li>Images: <%= image_tag product.images.first %></li>
  <% end %>
</ul>