<h1 class="title has-text-warning-dark">Test cards</h1>

<p class="subtitle">To simulate a successful payment, use test cards from the following list.</p>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Number</th>
      <th>CVC</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Visa</td>
      <td>4242424242424242</td>
      <td>Any 3 digits</td>
      <td>Any future date</td>
    </tr>
    <tr>
      <td>Visa (debit)</td>
      <td>4000056655665556</td>
      <td>Any 3 digits</td>
      <td>Any future date</td>
    </tr>
    <tr>
      <td>Mastercard</td>
      <td>5555555555554444</td>
      <td>Any 3 digits</td>
      <td>Any future date</td>
    </tr>
    <tr>
      <td>Mastercard (2-series)</td>
      <td>2223003122003222</td>
      <td>Any 3 digits</td>
      <td>Any future date</td>
    </tr>
    <tr>
      <td>Mastercard (debit)</td>
      <td>5200828282828210</td>
      <td>Any 3 digits</td>
      <td>Any future date</td>
    </tr>
    <tr>
      <td>Mastercard (prepaid)</td>
      <td>5105105105105100</td>
      <td>Any 3 digits</td>
      <td>Any future date</td>
    </tr>
  </tbody>
</table>