<h1 class="title has-text-warning-dark">Checkout</h1>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= image_tag @product.images.first %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= @product.name %></p>
        <p class="subtitle is-6"><%= number_to_currency(@price.unit_amount.to_f / 100) %></p>
      </div>
    </div>

    <div class="content">
      <%= render partial: "pay/stripe/checkout_button",
        locals: { session: @checkout_session, title: "Buy now" }
      %>
    </div>
  </div>
</div>

