<form action="/products" method="post" id="new_product">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <div class="field">
    <label for="name">Name</label>
    <input type="text" name="product[name]" id="name" value="Test Product">
  </div>

  <div class="field">
    <div class="card"></div>
  </div>

  <input type="submit" value="Create Product">
</form>
